

body.light-mode {
  background-color: #fff;
  color: #333
}

body.dark-mode {
  background-color: rgb(0, 0, 0);
  color: #dfdfdfd3
}

.light-mode .ReactTable .rt-tbody .rt-tr-group {
  border-bottom: .51px solid rgba(128, 0, 128, .34) !important
}

.dark-mode .ReactTable .rt-tbody .rt-tr-group {
  border-bottom: 1px solid rgba(60, 230, 202, .3) !important
}

.light-mode .ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(0, 0, 255, .14) !important
}

.dark-mode .ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(116, 137, 47, .5) !important
}

.ReactTable .rt-thead .rt-td.-sort-desc,
.light-mode .ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -1.2px 0 0 #b8bd19 !important
}

.ReactTable .rt-thead .rt-td.-sort-desc,
.dark-mode .ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -1px 0 0 #b8bd19 !important
}

.ReactTable .rt-thead .rt-td.-sort-asc,
.light-mode .ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 1.2px 0 0#b8bd19 !important
}

.ReactTable .rt-thead .rt-td.-sort-asc,
.dark-mode .ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 1px 0 0 #b8bd19 !important
}

.light-mode .ReactTable .-pagination .-btn {
  color: #551a8b !important;
  background: hsla(0, 0%, 100%, 0) !important
}

#date.light-mode {
  color: hsla(0, 0%, 100%, .9) !important
}

#date.dark-mode {
  color: rgba(0, 0, 0, .9) !important
}

.dark-mode .ReactTable .-pagination .-btn {
  color: #aae574 !important;
  background: transparent !important;
}

a:link {
  color: rgba(30, 30, 249, .823)
}

.dark-mode a:link {
  color: hsla(60, 49%, 92%, .864)
}

.light-mode a:visited {
  color: #b110b1
}

.dark-mode #title a {
  color: #aae574 !important
}

.light-mode #title a {
  color: #551a8b !important;
}

.light-mode ::-webkit-scrollbar-thumb {
  background: rgba(184, 189, 25, .4);
  height: 10px !important;
}

.dark-mode a:visited {
  color: #aae574 !important;
}

.light-mode .react-tabs #dm,
.light-mode .react-tabs__tab {
  color: #551a8b !important;
}

.dark-mode .react-tabs #dm,
.dark-mode .react-tabs__tab {
  color: #aae574 !important;
}

.dark-mode .react-tabs__tab--selected {
  border-color: #3bb473;
  color: #fff
}

.light-mode .react-tabs__tab--selected {
  border-color: #3bb473;
  color: #000
}

.dark-mode button {
  background-color: transparent !important;
  border-style: none !important;
  color: #fff !important
}

.dark-mode .react-tabs__tab--disabled,
.light-mode .react-tabs__tab--disabled {
  color: #000
}

.light-mode button {
  border-style: none !important;
  background-color: hsla(0, 0%, 100%, 0) !important
}
